<div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="studentModalLabel">Student Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(url: "", id: "modalForm", local: true) do |form| %>
          <div class="mb-3">
            <%= form.label :name, "Student Name" %>
            <%= form.text_field :name, class: "form-control", id: "modalStudentName" %>
          </div>
          <div class="mb-3">
            <%= form.label :subject, "Subject" %>
            <%= form.text_field :subject, class: "form-control", id: "modalStudentSubject" %>
          </div>
          <div class="mb-3">
            <%= form.label :mark, "Mark" %>
            <%= form.number_field :mark, class: "form-control", id: "modalStudentMark" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="modalForm">Save changes</button>
      </div>
    </div>
  </div>
</div>
