<div class="container mt-5">
  <h1 class="text-center">tailwebs.</h1>
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-4">Student List</h2>
    <%= link_to "Add Student", new_student_path, class: "btn btn-dark" %>
    <%= button_tag "Add Student-model", id: "addStudentBtn", class: "btn btn-dark", data: { toggle: "modal", target: "#studentModal" } %>
    <%# <%= button_tag(type: 'button', class: 'dropdown-item', data: { bs_toggle: 'modal', bs_target: '#studentModal'}) do %>
      <%# Add Student %>
    <%# <% end %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Subject</th>
        <th>Mark</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td><%= student.subject_name %></td>
          <td><%= student.marks %></td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="actionMenuButton<%= student.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="actionMenuButton<%= student.id %>">
                <li><%= link_to 'Edit-working', edit_student_path(student) %></li>
                <li><a class="dropdown-item" href="#studentModal" data-bs-toggle="modal" data-student-id="<%= student.id %>">Edit</a></li>
                <li><%= link_to 'Edit-1', '#studentModal', class: 'dropdown-item', data: { bs_toggle: 'modal', student_id: student.id }, remote: true %></li>
                <li><%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'students/modal' %>